<ion-view view-title="ACTIVIDAD">

  <ion-tabs class="tabs-striped tabs-top tabs-background-light" on-select="onTabSelected()"
  on-deselect="onTabDeselected()">

            <ion-tab title="HISTORIAL" ui-sref="tab.actividad.historial">
              <ion-nav-view name="historial"></ion-nav-view>
            </ion-tab>

            <ion-tab title="NIVEL" ui-sref="tab.actividad.nivel">
              <ion-nav-view name="nivel"></ion-nav-view>
            </ion-tab>

            <ion-tab title="RECOMPENSAS" ui-sref="tab.actividad.recompensas">
              <ion-nav-view name="recompensas"></ion-nav-view>
            </ion-tab>


        </ion-tabs>

  <ion-content>

  </ion-content>
</ion-view>
