<ion-view view-title="SOLICITAR RECOLECCIÓN">
  <ion-content>

      <div class="logo_stroke">
<img src="img/logo_stroke.png" style="width:200px">
      </div>


<div class="boton-principal">
  <button class="button button-positive boton-solicitar">
    SOLICITAR UNA RECOLECCIÓN
  </button>
</div>

<div class="texto">
  Haznos saber que necesitas que recolectemos tu basura. Contribuye al cuidado del medio ambiente.
</div>

  </ion-content>
</ion-view>
