<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-light tabs-icon-only tabs-color-active-positive">

  <!-- Solicitud Tab -->
  <ion-tab title="SOLICITUD" icon-off="ion-ios-plus" icon-on="ion-ios-plus" href="#/tab/solicitud">
    <ion-nav-view name="tab-solicitud"></ion-nav-view>
  </ion-tab>

  <!-- Historial Tab -->
  <!--href referenciado a actividad/historial-->
  <ion-tab icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/tab/actividad/historial">
    <ion-nav-view name="tab-actividad"></ion-nav-view>
  </ion-tab>

  <!-- Club Tab -->
  <ion-tab icon-off="ion-leaf" icon-on="ion-leaf" href="#/tab/club">
    <ion-nav-view name="tab-club"></ion-nav-view>
  </ion-tab>

  <!-- Perfil Tab -->
  <ion-tab icon-off="ion-information-circled" icon-on="ion-information-circled" href="#/tab/perfil">
    <ion-nav-view name="tab-perfil"></ion-nav-view>
  </ion-tab>
</ion-tabs>
