<ion-view view-title="ACTIVIDAD">


  <ion-content class="historial has-footer">

<div class="header-historial">
<img src="img/trash_green7.png" style="width:70px">

<p></p>
  Has solicitado

<div class="total-solicitudes" style="font-weight:500">
  7 recolecciones

</div>
</div>


<div>


        <div class="divisor">
            SOLICITUDES PENDIENTES
          </div>

<ion-list  class="list" show-delete="false" can-swipe="true" >
<ion-item class="item item-avatar" href="#">

    <img src="img/clock_1.png">
    <h3>03-abr-17</h3>
    <h5>14:02 h</h5>
    <h5>Estado: Revisión pendiente</h5>
<ion-option-button class="button-energized"
               ng-click="share(item)">
Cancelar
</ion-option-button>

</ion-item>

<ion-item class="item item-avatar" href="#">

    <img src="img/clock_1.png">
    <h3>03-abr-17</h3>
    <h5>13:48 h</h5>
    <h5>Estado: En camino</h5>


</ion-item>
</ion-list>


<!-- Columna atendidas -->



        <div class="divisor">SOLICITUDES ATENDIDAS
        </div>


        <div class="list">

        <a class="item item-avatar" href="#">
          <img src="img/done_5.png" 50x50>
          <h3>03-abr-17</h3>
          <h5>13:48 h</h5>
          <h5>Estado: Recolectado</h5>
        </a>

        <a class="item item-avatar" href="#">
          <img src="img/cancel_1.png" 50x50>
          <h3>10-feb-17</h3>
          <h5>13:48 h</h5>
          <h5>Estado: Cancelado</h5>
        </a>

        <a class="item item-avatar" href="#">
          <img src="img/done_5.png" 50x50>
          <h3>02-ene-17</h3>
          <h5>13:48 h</h5>
          <h5>Estado: Recolectado</h5>
        </a>

        <a class="item item-avatar" href="#">
          <img src="img/done_5.png" 50x50>
          <h3>04-dic-16</h3>
          <h5>13:48 h</h5>
          <h5>Estado: Recolectado</h5>
        </a>

        <a class="item item-avatar" href="#">
          <img src="img/done_5.png" 50x50>
          <h3>29-nov-16</h3>
          <h5>13:48 h</h5>
          <h5>Estado: Recolectado</h5>
        </a>



        </div>

</div>


<!-- Lista pendientes -->


  </ion-content>
</ion-view>
