<ion-view view-title="ACTIVIDAD">


  <ion-content>
    <div>
<div class="header-nivel">
  <img src="img/nivel1.png" style="width:70px">
<div class="barra">
  <div class="progreso" id="progreso"></div>
</div>
<div style="font-size:10px">
829/1000 puntos para llegar al nivel 2
</div>


</div>
<div class="row niveles" style="width:100%" >
  <div class="col individuales">Árboles salvados
  <div style="font-size:18px">12</div>
  <div >+280 puntos</div>
  </div>
<div class="col individuales">L de agua ahorrados
  <div style="font-size:18px">72</div>
  <div >+372 puntos</div>
  </div>
<div class="col individuales">Kg de CO2 evitados
  <div style="font-size:18px">27</div>
  <div >+177 puntos</div>
   </div>
</div>
<div class="puntaje">829 puntos totales</div>
</div>


<div class="list list-obtenido">

  <a class="item item-avatar" href="#">
    <img src="img/nivel1.png">
    <h2>Nivel 1</h2>
  </a>

<div class="list-noobtenido has-footer">

  <a class="item item-avatar" href="#">
    <img src="img/nivel2.png">
    <h2>Nivel 2</h2>
    <h6>1000 puntos</h6>
  </a>


    <a class="item item-avatar" href="#">
      <img src="img/nivel3.png">
      <h2>Nivel 3</h2>
      <h6>3000 puntos</h6>
    </a>

    <a class="item item-avatar" href="#">
      <img src="img/nivel4.png">
      <h2>Nivel 4</h2>
      <h6>5000 puntos</h6>
    </a>

    <a class="item item-avatar" href="#">
      <img src="img/nivel5.png">
      <h2>Nivel 5</h2>
      <h6>10 000 puntos</h6>
    </a>

  </div>
</div>

  </ion-content>
</ion-view>
