<ion-view view-title="ACTIVIDAD">


  <ion-content>

<div class="row moneda">

<div class="col moneda">
  <img src="img/coin.png" style="width:60px">
</div>

<div class="col-60">
  <div>
<div class="header-recompensas puntos-disponibles">
  <div>
    429
  </div>
  <p></p>
  <div style="font-size:12px">puntos disponibles</div>
</div>
</div>

</div>

</div>


    <div>

  <div class="instrucciones">Elige una recompensa en la cual utilizar tus puntos disponibles.</div>
</div>


<div class="list">
  <div class="has-footer">

<div class="row">

  <div class="col col-75">
  <a class="item item-avatar" style="text-align:left"href="#">
    <img src="img/cinepolis.png">
    <h2>Cinépolis</h2>
    <h5>400 puntos</h5>
    <h6>2 x 1 cualquier día de la semana.</h6>
    </a>
  </div>


  <div class="col seleccionar col-25">
<button class="button button-positive button-small">
  Seleccionar
</button>
    </div>
</div>


<div class="row">

  <div class="col col-75">
  <a class="item item-avatar" style="text-align:left"href="#">
    <img src="img/pizza.png">
    <h2>Domino's pizza</h2>
    <h5>500 puntos</h5>
    <h6>1 orden de papas gratis.</h6>
    </a>
  </div>


  <div class="col seleccionar col-25">
<button class="button button-positive button-small">
  Seleccionar
</button>
    </div>
</div>


<div class="row">

  <div class="col col-75">
  <a class="item item-avatar" style="text-align:left"href="#">
    <img src="img/uber.jpg">
    <h2>UBER</h2>
    <h5>500 puntos</h5>
    <h6>50 % de descuento en tu próximo viaje.</h6>
    </a>
  </div>


  <div class="col seleccionar col-25">
<button class="button button-positive button-small">
  Seleccionar
</button>
    </div>
</div>

<div class="row">

  <div class="col col-75">
  <a class="item item-avatar" style="text-align:left"href="#">
    <img src="img/avion.png">
    <h2>VivaAerobús</h2>
    <h5>600 puntos</h5>
    <h6>10 % de descuento en tu próximo viaje nacional.</h6>
    </a>
  </div>


  <div class="col seleccionar col-25">
<button class="button button-positive button-small">
  Seleccionar
</button>
    </div>
</div>
</div>
</div>
  </ion-content>
</ion-view>
