/* Empty. Add your own CSS if you like */



.header-historial{

  text-align: center;
  padding: 30px;
  padding-left: 40px;
  font-family: 'Poppins', sans-serif;
  color: #5b5b5b !important;

}

.header-recompensas{

  text-align: left !important;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 0px !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #5b5b5b !important;

}

.header-nivel{

  text-align: center;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
  color: #5b5b5b !important;



}

.has-footer{
  padding-bottom: 49px !important;
}

.total-solicitudes{
  font-size: 25px;
  font-weight: 500 !important;

}

.puntos-disponibles{
  font-size: 40px;
  font-weight: 600;
  padding-left: 0px !important;
  margin: 0px auto;
  text-align: left;

}

.list a.item
{
border-width: 0px;
border-color: #f0f0f0;
background-color: white;

margin: 5px auto;

font-family: 'Poppins', sans-serif !important;
color: #5b5b5b !important;
}

.list ion-item.item
{
border-width: 0px;
border-color: #f0f0f0;
font-family: 'Poppins', sans-serif !important;
color: #5b5b5b !important;
}

.item-complex .item-content, .item{
    background-color:white;
}

.item-complex{

  margin: 5px auto;

}


.pendientes{
  background: none !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Poppins', sans-serif !important;
  color: #515151 !important;
}

.divisor{
padding-left: 30px;
margin-top: 10px;
padding-bottom: 10px;
font-family: 'Poppins', sans-serif !important;
font-size: 12px !important;
border-style: solid;
border-bottom-color: #E2E2E2;
border-bottom-width: thin;
color:#3CC3A9 !important;
font-weight: bold;
}

.bar .title{
  font-family: 'Poppins', sans-serif;
  font-weight:700 !important;
  font-size: 14px !important;
  color: white !important;
  font-weight:lighter;

}



.tabs-light{
  background-color: #fff !important;
  border-top: 1px solid #ddd !important;
  border: none !important;
}

#actividad-tabs{
  font-family: 'Poppins', sans-serif;
}

.tabs-striped .tab-item.tab-item-active, .tabs-striped .tab-item.active, .tabs-striped .tab-item.activated{
font-family: 'Poppins', sans-serif;
  border-color: #19D19B!important;
  border-bottom-width:0px !important;
  color:#19D19B !important;
  font-weight: bold;
}

.tab-item-active{

  font-family: 'Poppins', sans-serif;
  font-size: 12px !important;
  color: #19D19B!important;
  font-weight: bold;

}

.tab-item{
  font-family: 'Poppins', sans-serif !important;
  font-size: 12px !important;
  color: #B4B4B4;
  font-weight: bold;
}


.tabs-striped{
  font-family: 'Poppins', sans-serif !important;
}


.pane, .view{
    background-color: #fff!important;
}


.barra{
  width: 80%;
  height: 10px;
  background-color: #bbb;
  border-radius: 13px;
  margin: 20px auto;

}

.progreso{
 width: 82.9%;
 height: 10px;
 background-image: linear-gradient(-206deg, #2DC96F 0%, #0eff9c 100%);
 border-radius: 13px;
 animation-delay: 0.7s;
}

.bar-positive{
  background-color:#4D77C9 !important;
  border-bottom: 0 !important;
}

.ion-tabs{
  font-size: 10px !important;
}

.list-obtenido{
  padding: 0px !important;
}

.list-noobtenido{
  opacity: 0.5 !important;
}

.individuales{
  background-color: #f0f0f0;
  font-size: 9px !important;
  text-align: center !important;
  padding: 8px;
  font-family: 'Poppins', sans-serif;
  color: #5b5b5b !important;
}


.niveles{
  width: 100% auto !important;
  padding: 0;
}

.puntaje{
  background-color: #f0f0f0;
  border-top: #bbb solid 1px;
  font-size: 16px !important;
  font-weight: 600;
  margin-bottom:15px;
  text-align: center !important;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  color: #5b5b5b !important;

}

.instrucciones{
  background-color: #f0f0f0;
  margin-bottom:15px;
  font-size: 11px !important;
  text-align: left !important;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  color: #5b5b5b !important;
}

.item-avatar,
.item-avatar .item-content,
.item-avatar-left,
.item-avatar-left .item-content {
  padding-left: 72px;
  min-height: 72px; }
  .item-avatar > img:first-child,
  .item-avatar .item-image,
  .item-avatar .item-content > img:first-child,
  .item-avatar .item-content .item-image,
  .item-avatar-left > img:first-child,
  .item-avatar-left .item-image,
  .item-avatar-left .item-content > img:first-child,
  .item-avatar-left .item-content .item-image {
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 0% !important; }

.seleccionar{
  padding-top:30px !important;

}

.moneda{
  padding-top: 25px !important;
  margin-right: 0px auto !important;
  padding-right: 10px;
  text-align: right;
}

.logo_stroke{
  padding-top: 80px !important;
  margin: 0px auto !important;
  text-align: center;
  padding: 20px;
}

.boton-solicitar{
  border-radius: 23px !important;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  border: 2px solid #4D77C9 !important;

}

.boton-principal{
  padding-top: 70px;
  margin: 0px auto !important;
  text-align:center;

}

.texto{
  text-align: center;
  padding: 60px;
  padding-top: 80px;
  color: #9b9b9b;
  font-size: 12px;
}
